<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QuinielaSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF36E2661CCD42BE00F05F64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF36E27D1CCD42BF00F05F64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF36E2881CCD42BF00F05F64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
